article {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    order: 2;
    -webkit-order: 2;
}

aside {
    width: 100%;
    order: 1;
    -webkit-order: 1;
}

/*logo*/
.logo {
    width: 20%;
    bottom: 3%;
    padding-right: 1%;
    padding-bottom: 0.75%;
}

.logo.animate {
    bottom: 4%;
    padding-right: 1%;
    padding-bottom: 0.75%;
}

.logob {
    width: 20%;
}

/*border*/
.line.animate {
    height: auto;
}

/*nav*/
nav {
    margin-top: 0;
    margin-bottom: 65%;
}

.nav-box {
    width: 100%;
    padding: 0.5em 0.8em;
    margin: 1.5% 0;
}
/*menu*/
.hamburger {
    display:block;
}

.cross {
    display:block;
}

.menu {
    z-index: 10000;
    font-size: 0.8em;
    width: 100%;
    height: 100%;
    background: #fff;
    padding-left: 2.25%;
    position: absolute;
}

/*tab*/
.tab-link {
    float: left;
    width: 100%;
    background: none;
}

ul.tabs li {
    width: 100%;
    padding: 0;
    margin: 0;
}

.welcome {
    width: 100%;
}

.gallery{
    height: 100%;
}

.clients {
    overflow-y: scroll;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
}

.clients img {
    width: 80%;
    padding: 1% 0;
}

.clients img:nth-child(odd) {
    padding-right: 0;
}

.clients img:nth-child(even) {
    padding-left: 0;
}

.contact {
    padding-top: 0;
}

.slide-content {
    width: 100%;
}

.info {
    width: 100%;
    left: 0;
    position: relative;
}

.quote {
    width: 42.5%;
    margin: -8% 30%;
}

.greet {
    font-size: 2.8rem;
    line-height: 0;
    padding-top: 6%;
    padding-bottom: 5%;
}

.modal-body {
    padding: 1%;
}

.modal-content {
    overflow-y: scroll;
    height: inherit;
}

[id^=carousel-] {
    width: 100%;
    padding: 2%;
    margin-top: 0; 
    margin-left: 0;
}

#thumbcarousel {
    width: 100%;
    position: inherit;
    padding: 2%;
}

.product-slider {
    margin-top: 0%;
    margin-left: 0%;
}

.break {
    width: 3%;
}