article {
    width: 100%;
    height: inherit;
    overflow-y: scroll;
    order: 2;
    -webkit-order: 2;
}

aside {
    width: 100%;
    order: 1;
    -webkit-order: 1;
}

/*logo*/
.logo {
    bottom: 4%;
}

.logo.animate {
    bottom: 5.5%;
}

.logob {
    position: relative;
}

.copyrightb { 
    position: relative;
    right: -6.45em;
}

/*line*/
.line.animate {
    height: auto;
}

/*tabs*/
ul.tabs li {
    width: 100%;
    padding: 0;
    margin: 0;
}

/*nav*/
nav {
    margin-bottom: 5%;
}

.nav-box {
    width: 100%;
    padding: 0.5em 0.8em;
    margin: 0.75% 0;
}

/*menu*/
.hamburger {
    display:block;
}

.cross {
    display:block;
}

.menu {
    z-index: 10000;
    font-size: 0.8em;
    width: 100%;
    height: 100%;
    background: #fff;
    padding-left: 2.25%;
    position: absolute;
}

.break {
    width: 2%;
}
.menu .tab-link {
    padding: 1.025% 0;
}
/*welcome*/
.greet {
    padding-top: 5%;
}
/*gallery*/
.gallery {
    height:auto;
}
/*modal*/
.modal-content {
    overflow-y: scroll;
    min-height: 100%;
}

.modal-header {
    padding-top: 0;
}

.info {
    position: relative;
}
/*clients*/
.clients {
    overflow-y: scroll;
    padding-top: 3%;
}

.clients img {
    width: 80%;
    padding: 1% 0;
}

.clients img:nth-child(odd) {
    padding-right: 0;
}

.clients img:nth-child(even) {
    padding-left: 0;
}

/*contact*/
.contact {
    margin-top: 10%;
}



