<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>A responsive website page</title>
<style>
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
	
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: #05060b;
    color: #67727A;
    font-family: 'Lato', sans-serif;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
    width: auto;
}
/*skew**/
.skew {
    transform: skew(0deg, -10deg);
    -ms-transform: skew(0deg, -10deg); /* IE 9 */
    -webkit-transform: skew(0deg, -10deg); /* Safari 3-8 */
    -o-transform: skew(0deg, -10deg);
	transform-origin: top left;
}
.unskew {
    transform: skew(0deg, 10deg);
    -ms-transform: skew(0deg, 10deg); /* IE 9 */
    -webkit-transform: skew(0deg, 10deg); /* Safari 3-8 */
    -o-transform: skew(0deg, 10deg);
}
/*header*/
header {
    width: 1200px;
    background: url("header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 345px 0;
    margin-top: -75px;
}
header.animate {
    background: url("header-animate.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -8%;
    -webkit-transition: 300ms ease-out;
    -moz-transition: 300ms ease-out;
    -o-transition: 300ms ease-out;
    transition: 300ms ease-out;
}
#logo {
    float: right;
    margin-top: -245px;
    padding-right: 25px;
    border: none;
}
/*page*/
#page{
	z-index: 1;
    background-color: none;
    text-align: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}
#page:after {
    width: 100%;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 10%;
    -webkit-transform: skewY(-10deg);
    -moz-transform: skewY(-10deg);
    -ms-transform: skewY(-10deg);
    -o-transform: skewY(-10deg);
    transform: skewY(-10deg);
    background-color: #05060b;
    z-index: 2;
}
#content{
	position: relative;
    z-index: 3;
}
/*container*/
.container {
    float: left;
    width: 100%;
    background: #fff;
    text-align: left;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    top: 510px;
    top: 440px\9\0;
	left:0;
}
.container.animate {
    margin-top: -100px;
	margin-top: -180px\9\0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
/*border*/
.border {
    border-left: 5px solid #1f140f;
    margin-left: 25px;
    margin-right: 20px;
    padding: 20px 0 20px 15px;
    height: 100%;
}
/*nav*/
nav{
	padding-top: 10%;
    margin-left: -3.5%;
}
.nav-box {
    width: 100%;
    padding: 5%;
}
.nav-box span {
    text-align: right;
    color: #c3a17d;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 125%;
    padding: 5% 0;
    display: flex;
    margin-left: 5%;
}
.nav-img {
    border: none;
    width: 55%;
    margin-left: 35%;
    margin-top: -16%;
    margin-right: 5%;
	position: relative;
}

.nav-img:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: .2;
  background: #e9cca6;
  transition: opacity 0.5s ease-out;
}

.nav-img:hover:before {
  opacity: 0;
}

article {
    float: left;
    width: 75%;
	margin: 0 auto;
    height: auto;
}
aside {
    width: 25%;
    float: left;
    margin: 0 auto;
    height: auto;
}
.clear {
    clear: both;
}
/*iframe*/
.frame {
    width: 100%;
    height: 48vh;
    border: none;
}
/*menu*/
.menu .tab-link {
    text-decoration: none;
    color: #222;
    background: transparent;
}
.menu .tab-link::first-letter {
    font-size: 160%;
}
	
/*tabs*/
ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    cursor: pointer;
}
ul.tabs li {
    background: #412d08;
    color: #fff;
    display: inline-block;
    width: 25.25%;
}
ul.tabs li.current {
    background: #e9cca6;
    color: #fff;
}
.tab-content {
    display: none;
    height: 50vh;
}
.tab-content.current {
    display: inherit;
}

/*welcome*/
.welcome {
    font-size: 80%;
    font-weight: 400;
    text-align: justify;
}

/*--footer---*/
footer {
    background-color: #05060b;
    width: 100%;
	bottom: 0;
}
.foot {
    text-align: right;
    display: block;
    position: relative;
    padding-top: 30vh;
    padding-bottom: 15vh;
}

/*media*/
@media screen and (max-width: 768px) {
.nav-box span {
    font-size: 100%;
	text-align: center;
}
.tab-link {
    float: left;
    width: 100%;
}
nav{
    margin-left: -5%;
	
}
ul.tabs li {
    width: 100%;
    padding: 0;
}
.nav-img {
    display: none;
}
article {
    width: 100%;
}
aside {
    width: 100%;
}
.hand-mobile {
    display: none;
}
.tab-content {
    height: 90vh;
}
.frame {
    width: 100%;
    height: 100%;
}
.foot {
    margin-top: 100%;
}
}
/*fade*/
.active {
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=1);
}
.hide {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    transition: visibility 0.35s, all 0.35s;
}
</style>
</head>
<body>
	<section id="page">
	<section id="content">
<header>
  <ul class="tabs">
    <li class="tab-link" data-tab="welcome" style="background: none; width:100%;"> <img src="logo.png" id="logo"> </li>
  </ul>
</header>
<!---end of header--->

<section class="container skew">
  <div class="border">
    <section id="welcome" class="tab-content current"> <img src="pin.png"><br>
      <br>
      <article class="welcome"> Welcome to KappaHouse.<br>
        It’s a strange name, don’t you think? But it has a little story behind it. In Japanese mythology, Kappas are amazing creatures that only children or someone who is truly innocent can see. As a creative agency with fresh minds, we see creativity and creative solutions which often escape others. Because although coming up with fresh creative ideas for your brand or product is a task we take very seriously, we approach it with a lighthearted and youthful spirit that sees things in new ways. Perhaps we can help you see the Kappas too!<br>
        <br>
        We established Kappa House in 2010, and since then, we’ve worked on many projects, both online and offline, right through from ideation to production. Our founders all came from senior creative positions in major 4As advertising agencies and each of us have over 10 years of experience, serving major international and local blue chip brands from the telecom industry to banking and fast moving consumer goods (FMCG).<br>
        <br>
        But despite working in the same industry for more than a decade, we still have the same creative excitement and curiosity we had when we first started. We are as passionate and engaged as ever, and we hope you will enjoy sharing the Kappa spirit with us on your creative tasks as much as we surely will.</article>
      <aside>&nbsp;</aside>
      <div style="clear: both;"></div>
      <nav class="unskew">
        <ul class="tabs">
          <li class="tab-link" data-tab="jobs">
            <div class="nav-box"><span>Jobs</span><div class="nav-img"><img src="nav_contact.jpg" /></div></div>
          </li>
          <li class="tab-link" data-tab="clients">
            <div class="nav-box"><span>Clients</span><div class="nav-img"><img src="nav_contact.jpg" /></div></div>
          </li>
          <li class="tab-link" data-tab="contact">
            <div class="nav-box"><span>Contact</span><div class="nav-img"><img src="nav_contact.jpg" /></div></div>
          </li>
        </ul>
      </nav>
    </section>
    <div style="clear: both;"></div>
    <section id="jobs" class="tab-content">
      <aside class="menu"> <img src="pin.png"><br>
        <br>
        <ul class="tabs unskew" style="display:grid;padding-top: 8%;">
          <li class="tab-link" data-tab="jobs"><span>Jobs</span></li>
          <li class="tab-link" data-tab="clients"><span>Clients</span></li>
          <li class="tab-link" data-tab="contact"><span>Contact</span></li>
        </ul>
      </aside>
      <article>
        <iframe src="gallery.html" class="frame"></iframe>
      </article>
    </section>
    <section id="clients" class="tab-content">
		<aside class="menu"> <img src="pin.png"><br>
        <br>
        <ul class="tabs unskew" style="display:grid;">
          <li class="tab-link" data-tab="jobs"><span>Jobs</span></li>
          <li class="tab-link" data-tab="clients"><span>Clients</span></li>
          <li class="tab-link" data-tab="contact"><span>Contact</span></li>
        </ul>
      </aside>
      <article class="unskew">
        <img src="cone.jpg">
      </article>
	</section>
    <section id="contact" class="tab-content">
		<aside class="menu"> <img src="pin.png"><br>
        <br>
        <ul class="tabs unskew" style="display:grid;">
          <li class="tab-link" data-tab="jobs"><span>Jobs</span></li>
          <li class="tab-link" data-tab="clients"><span>Clients</span></li>
          <li class="tab-link" data-tab="contact"><span>Contact</span></li>
        </ul>
      </aside>
      <article class="unskew">
        123
      </article>
	</section>
  </div>
</section>
<div style="clear: both;">&nbsp;</div>
<footer>
  <div class="foot">
    <table width="20%" border="0" cellspacing="0" cellpadding="0" style="float:right; color: #fff; font-size: 80%;">
      <tbody>
        <tr>
          <td align="left" width="20%" >Tel:</td>
          <td align="left">(+852) 36793832</td>
        </tr>
        <tr>
          <td align="left">eMail:</td>
          <td align="left">info@kappahouse.com.hk</td>
        </tr>
        <tr>
          <td align="left">f</td>
          <td align="left">Kappa House Limited</td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" align="left">@ 2019 Kappa House Ltd.</td>
        </tr>
      </tbody>
    </table>
  </div>
</footer>
	</section>
</section>
<!--end of footer--> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript">
$(document).ready(function(){
	
	$('ul.tabs li').click(function(){
		var tab_id = $(this).attr('data-tab');

		$('ul.tabs li').removeClass('current');
		$('.tab-content').removeClass('current');

		$(this).addClass('current');
		$("#"+tab_id).addClass('current');
	})
	
	$('ul.tabs li').click(function(){
		$('header, .container').addClass('animate')
        });
})
</script>
</body>
</html>